In [15]:
# importing modules
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [18]:
cc_data = pd.read_csv('cc_data.csv')

In [19]:
#plotting legit transcations with fradulent ones , 0 - legit, 1 - fraud
cc_data['Class'].value_counts()

0.0    17836
1.0       81
Name: Class, dtype: int64

In [20]:
#separating data into legit and fake
legit = cc_data[cc_data.Class==0]
fake = cc_data[cc_data.Class==1]

In [22]:
print(legit.shape)
print (fake.shape)

(17836, 31)
(81, 31)

In [21]:
# comparing the mean values of both the data sets
cc_data.groupby('Class').mean() # very important value

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,13891.131980,-0.203851,0.228560,0.840631,0.263581,-0.117213,0.112151,-0.110725,-0.008454,0.752065,...,0.032646,-0.054930,-0.144997,-0.036871,0.015838,0.118904,0.035813,0.010352,0.006670,67.365025
1.0,16833.074074,-9.315066,6.779465,-13.052870,6.451318,-6.557541,-2.602613,-9.012856,4.730365,-3.087651,...,0.756424,0.549752,-0.423495,-0.398104,-0.277836,0.355688,0.177616,0.940693,0.090007,98.105926

In [25]:
# building sample data set with equal number of fraud and legit data
legit_sd = legit.sample(n=81)
#add the fraud data set
sample_data = pd.concat([legit_sd, fake], axis =0)
sample_data.groupby('Class').mean()

0.0    81
1.0    81
Name: Class, dtype: int64

In [26]:
x_data = sample_data.drop(columns='Class', axis = 1)
y_data= sample_data['Class']

In [28]:
# splitting data into train and test

x_train, x_test,  y_train,  y_test = train_test_split(x_data, y_data, test_size=0.2, stratify=y_data, random_state=2)

In [30]:
#fun part, training model
model = LogisticRegression()
model.fit(x_train, y_train)
x_train_predict = model.predict(x_train)
#training data set accuracy
train_accuracy = accuracy_score(x_train_predict, y_train)
print ('Training accuracy:',train_accuracy)
#testing data accuracy
x_test_predict = model.predict(x_test)
test_accuracy = accuracy_score(x_test_predict, y_test)
print ('Testing accuracy:',test_accuracy)

Training accuracy: 0.9844961240310077
Testing accuracy: 0.9393939393939394

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(